* {
    box-sizing: border-box;
}

html, body {
     margin: 0;
     padding: 0;
}
body {
    background-color: #777;
}
.container {
    width: 500px;
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: #ddd;
    margin: 60px auto;
    padding: 5px 30px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.fa-times {
    position: relative;
    top: 5px;
    left: 443px;
    color: #888;
    font-size: 20px;
}

main {
    text-align: center;
    padding-bottom: 29px;
}
main h3 {
    padding-top: 20px;
    margin: 10px 0px;
}
main p {
    padding: 0px 20px 30px 20px;
    color: #555;
    font-size: 14px;
}

.facebook {
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    background-color: rgb(22, 46, 120);
    color: #fff;
    margin-right: 8px;
}
.twitter {
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    background-color: rgb(93, 171, 230);
    color: #fff;
    margin-right: 8px;
}

.buttons i {
    padding-right: 5px;
}
.reddit {
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    background-color: rgb(44, 44, 45);
    color: #fff;
}

h4 span {
    color: #555;
    
}

h4 {
    padding: 10px;
}

a {
    text-decoration: none;
    color: salmon;
    font-size: 14px;
    
}